{
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "plugins": [
          ["styled-jsx-plugin-sass"],
          {
            "sassOptions": {
              "includePaths": ["./src/styles"],
              "precision": 2
            }
          }
        ]
      }
    ]
  ],
}
