@font-face {
    font-family: "LaLinea Sea";
    src: url("../assets/font/LaLinea\ Sea.ttf");
}

html{
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;

    body {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;

        #root {
            height: 100%;
            width: 100vw;
        }
    }
}
